<div class="hero">
  <h1>Fly over <%= @trip.destination %></h1>
</div>

<div class="container trip-container">
  <div class="row gx-5 info">
    <div class="left col-sm-8">
      <h2 class=" "><%= @trip.destination %></h2>
      <hr>
      Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> |
      Duration: <%=@trip.duration %>
      <hr>
      <h3>About this trip: </h3>
      <%= @trip.description %>
      <h3 class="my-3">Photo gallery: </h3>
      <img src="https://gaz.mx/projects/vuelavuela/assets/helicopter-trip-1.jpg" alt="..." width="230px" height="150px" class="p-gallery">
      <img src="https://gaz.mx/projects/vuelavuela/assets/helicopter-trip-2.jpg" alt="..." width="230px" height="150px" class="p-gallery">
      <img src="https://gaz.mx/projects/vuelavuela/assets/helicopter-trip-3.jpg" alt="..." width="230px" height="150px" class="p-gallery">
    </div>
    <div class="right col-sm-4">
      <div class="info-reserva pl-4 pr-4">
        <p>Departure: <%= @trip.departure%></p>
        <p>Date: <%= @trip.date%></p>
        <p>Price: $<%= @trip.price %></p>
        <hr>
        <div class="reservar">
          <%= link_to "Book now", trip_reservations_path(@trip.id), method: :post %>
        </div>
      </div>
      <div id="reviews my-5">
        <% if @reviews.blank? %>
          <p class= "pt-5 pl-3">Be the first to leave a review for <%= @trip.destination %></p>
        <% end %>
        <div class="review-form my-5 pl-3 pr-3">
          <%= simple_form_for([ @trip, @review ], remote: true) do |f| %>
            <%= f.input :review, as: :text %>
            <%= f.button :submit %>
          <% end %>
        <% @reviews.each do |review| %>
          <p class="pt-3" id="review-<%= review.id %>">- <%= review.review %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
