<div class="container col-12 banner">
  <h1 class="title fw-bolder">Vuela Vuela</h1>
</div>
<h2 class="destinos my-5">Nuestros destinos</h2>
<div class="container mb-5">
<div class="cards">
  <div class="card-destination ba">
    <a href="trips/<%= Trip.find_by(destination:"Buenos Aires").id%>">Buenos Aires</a>
  </div>

  <div class="card-destination li">
    <a href="trips/<%= Trip.find_by(destination:"Lima").id%>">Lima</a>
  </div>

  <div class="card-destination cdmx">
    <a href="trips/<%= Trip.find_by(destination:"CDMX").id%>">CDMX</a>
  </div>

  <div class="card-destination ny">
    <a href="trips/<%= Trip.find_by(destination:"New York").id%>">New York</a>
  </div>

  <div class="card-destination paris">
    <a href="trips/<%= Trip.find_by(destination:"Paris").id%>">Paris</a>
  </div>

  <div class="card-destination london">
    <a href="trips/<%= Trip.find_by(destination:"London").id%>">London</a>
  </div>
</div>

  <div class="link-ver-todos text-center pt-5">
    <a href="/trips">Ver todos los destinos</a>
  </div>
</div>
