<!DOCTYPE html>
<html>
  <head>
    <title>VuelaVuela</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'shared/flashes' %>
  </body>

<footer class="page-footer font-small">
  <div class="container">
    <div class="text-center d-flex justify-content-center pt-4">
      <div class="col-md-2 mb-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <div class="col-md-2 mb-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Trips</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-4">
        <p> Una experiencia única e inolvidable. </p>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12  col text-center">
        <div class="mb-3">
          <a href="https://github.com/diazgdev/VuelaVuela" class="fb-ic">
            <i class="fab fa-github fa-lg white-text mr-4"> </i>
          </a>
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg mr-4"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg mr-4"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright: VuelaVuela.com
  </div>
</footer>
</html>
